.flake8
*.wav
tmp
dummy
node_modules
__pycache__

/upload_dir/
/MMVC_Client_v13/
/MMVC_Client_v15/
/so-vits-svc-40/
/so-vits-svc-40v2/
/DDSP-SVC/
/RVC/
/keys
/info
/in.wav
/out.wav
/G_*.pth
/train_config.json
/stored_setting.json
/v13

/model_hubert
/model_so-vits-svc-40v2_tsukuyomi/
/model_so-vits-svc-40v2_amitaro/
/model_so-vits-svc-40/
/model_so-vits-svc-40_mahiro/
/model_so-vits-svc-40_amitaro/
/model_so-vits-svc-40_tsukuyomi/
/model_so-vits-svc-40_kikotokurage
model_DDSP-SVC/
/model_sovits
/test 

/memo.md

client/lib/dist
client/lib/worklet/dist
# client/demo/dist/ 

docker/cudnn/

/pretrain/
/weights/
/model_dir/
/model_dir2/
/weights_/
/weights__/
/models/
/samples.json
/samples_0003_t.json
/samples_0003_o.json
/samples_0003_t2.json
/samples_0003_o2.json
/samples_0003_d2.json

/test_official_v1_v2.json
/test_ddpn_v1_v2.json
/vcclient.log
start_trainer.sh

# venv
venv/


beatrice_internal_api.cp310-win_amd64.pyd